<h2 id='title'>Welcome to Ember.js</h2>

<p>The selected country is <span id="country-value">{{country}}</span></p>

{{#bm-select value=selectedCountry action="countryChanged"}}

    {{#bm-selected}}
        {{#if selectedCountry}}
            {{selectedCountry}}
        {{else}}
            Select a country
        {{/if}}
    {{/bm-selected}}

    {{#bm-options}}
        {{#bm-option}}Select a country{{/bm-option}}
        {{#each item in model.countriesObj}}
            {{#bm-option data=item key="name"}}
                {{item.name}}
            {{/bm-option}}
        {{/each}}
    {{/bm-options}}

{{/bm-select}}

{{input id="dummy-input"}}
